<style>
    input[type="text"] {
    height: 100px;
    width: 800px;
    }
</style>
<html>
   <body>
      <form action = "/result" method = "POST">
         <p><h1>Mail Data: </h1>  <input type = "text" name = "Name" rows="10" cols="30" />

         <h2>Fetch nearest :</h2> <select name="top">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option> 
          </select></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>